body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("local.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.presentacion-local {
    max-width: 800px;
    margin: 30px auto; 
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
    box-sizing: border-box;
    text-align: center;
}

#local{
    max-width: 400px;
    margin-top: 10px;
}

.presentacion-local h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.presentacion-local h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0;
}

.presentacion-local p {
    margin: 5px;
}
