*, 
*::before,
*::after
{
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
}

main 
{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section 
{
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

section h1
{
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
}
#texto{
    color: #FFCDF2;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
section h2{
    color: #FFCDF2;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

section p{
    padding-left: 40px;
    padding-right: 40px;
    font-size: x-large;
    text-align: center;
    padding-bottom: 10px;
}

.no-parallax 
{
  background-color: #537EDB;
  z-index: 1500;
  display: block;
}

.parallax h1 
{
  width: 60%;
  font-size: 4rem;
}

.parallax::after 
{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after 
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("local-1.jpeg");
  background-size: cover;
}

@media screen and (max-width: 768px) {
    section h1 {
      font-size: 8rem;
    }
  
    section h2 {
      font-size: 2rem;
    }
  
    section p {
      font-size: 1rem;
      margin: 10px;
    }
  }
  
