body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("fondo-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.redes-section {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.redes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-container a {
    display: inline-block;
    margin: 10px;
}

.redes-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;

}

h1 {
    font-size: 24px;
    color: #5E90EE;
}

