body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("fondo-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.redes-section {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
}

.redes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-container a {
    padding: 10px;
    display: inline-block;
    margin: 10px;
}

.redes-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;

}

h1 {
    font-size: 24px;
    color: #5E90EE;
    padding: 10px;
}
p{
    padding: 5px;
}
@media screen and (max-width: 768px) {
  body {
    background-size: auto; }}
